/* =============
    Header
============= */
header{
    padding: 12px  24px;
    display: grid;
    grid-template-columns: 50% auto 8%;
    grid-template-areas: 
    "logo burger"
    "nav nav nav";

    @include md{
        grid-template-columns: 50% auto 4%;
    }

    @include xl{
        grid-template-columns: 25% 25% auto;
        grid-template-areas: 
        "logo nav"


    }

    #logo-container{
        align-items: center;
        display: flex;
        grid-area: logo;

    }

/*     #search{
    I omitted the search section due to the Figma not having a search bar for the provided outline.
    } */

    #burger-container{

        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: burger;

        @include xl{
            display: none;
        }
    }


    nav{
        grid-area: nav;
    }
}
