/* =============
    Navigation
============= */

a{
    text-decoration: none;
}

nav{
    margin-top: 12px;
    padding-top: 20px;
    border-top: 1px solid var(--aqua);

    @include xl{
        border: none;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include xl{
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }


        li{
            a:link, a:visited{
                padding: 30px 10px 15px 10px;
                display: inline-block;
                margin-bottom: 12px;
                color: var(--black);

            }

            a:hover, a:active{
                color: var(--aqua);
                transition: 0.25s;
            }

            a.signup-btn{
                background-color: var(--aqua);
                color: var(--white);
                border-radius: 16px;
                padding: 18px;
                font-weight: 600;
                border: none;
                transition: 0.25s;
            }

            a.signin-btn{
                background-color: var(--aqua);
                color: var(--white);
                border-radius: 16px;
                padding: 18px;
                font-weight: 600;
                border: none;
                transition: 0.25s;
            }

            .signup-btn:hover{
                background-color: var(--aqua);
                color: var(--white);
            }

            .signin-btn:hover{
                background-color: var(--aqua);
                color: var(--white);


            }
        }
    }
}